{% extends 'base.html' %}

{% block body %}
<div class="container p-1 m-1 " >
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3 m-1">
            <div class="border">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" width="150" height="200">
                    <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.desc}}</p>
                    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Go Details</a>
                </div>
          </div>
        </div>

        </div>
        {% endfor %}
    </div>

</div>
<a class="btn btn-warning" href="{% url 'movieapp:add_movie' %}">Add Movie</a><br>
{% endblock %}


<!--<img src="{{i.image.url}}" width="100" height="100">-->
<!--<a href="{% url 'movieapp:detail' i.id %}">{{i.name}}</a> <br>-->



<a class="btn btn-warning" href="{% url 'movieapp:add_movie' %}">Add Movie</a><br>

